#chat-screen {
  background-color: #abc1d1;
  height: 500vw;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  z-index: 5;
}

#chat-screen .alt-header {
  top: 20px;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats__timestamp {
  background: #92a4b2;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  z-index: 1;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}

.message__author {
  display: block;
  margin-bottom: 8px;
}

.message__bubble {
  position: relative;
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 5px;
}

.message__bubble-opponent:before {
  content: ' ';
  position: absolute;
  border-right: 15px solid white;
  border-bottom: 18px solid transparent;
  border-top-left-radius: 2px;
  left: -8px;
  top: 5px;
}

.message__bubble-me:before {
  content: ' ';
  position: absolute;
  border-right: 15px solid transparent;
  border-top: 18px solid var(--yellow);
  right: -8px;
  top: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
